<h1>Quản lý sách</h1>

<div class="search-section">

    <input
        class="search"
        type="text"
        placeholder="Tìm kiếm sách..."
        [(ngModel)]="searchText"
    >

    <button
        class="add-book"
        (click)="openAddForm()"
    >
        + Thêm sách
    </button>

</div>

<br>

<table class="table" border="1">

    <thead>

        <tr>
            <th>STT</th>
            <th>Tên sách</th>
            <th>Tác giả</th>
            <th>Danh mục</th>
            <th>Năm xuất bản</th>
            <th>Số lượng</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>

    </thead>

    <tbody>

        <tr *ngFor="let book of getFilteredBooks()">

            <td>{{book.stt}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.category}}</td>
            <td>{{book.year}}</td>
            <td>{{book.quantity}}</td>
            <td>{{book.status}}</td>

            <td>

                <button (click)="editBook(book)">
                    Sửa
                </button>

                <button (click)="deleteBook(book)">
                    Xóa
                </button>

            </td>

        </tr>

    </tbody>

</table>



<div
    class="popup"
    *ngIf="showAddForm"
>

    <h2>

        {{ selectedBook ? 'Sửa sách' : 'Thêm sách' }}

    </h2>



    <input
        type="text"
        placeholder="Tên sách"
        [(ngModel)]="newTitle"
    >

    <input
        type="text"
        placeholder="Tác giả"
        [(ngModel)]="newAuthor"
    >

    <input
        type="text"
        placeholder="Danh mục"
        [(ngModel)]="newCategory"
    >

    <input
        type="text"
        placeholder="Năm xuất bản"
        [(ngModel)]="newYear"
    >

    <input
        type="text"
        placeholder="Số lượng"
        [(ngModel)]="newQuantity"
    >

    <input
        type="text"
        placeholder="Trạng thái"
        [(ngModel)]="newStatus"
    >



    <div class="buttonAddBook">

        <button (click)="saveBook()">

            Lưu

        </button>

        <button (click)="showAddForm = false">

            Đóng

        </button>

    </div>

</div>
