@if (visible()) {

<div class="popup" [formGroup]="form()">

    <h2>
        {{ selectedBook() ? 'Sửa sách' : 'Thêm sách' }}
    </h2>

    <input
        type="text"
        placeholder="Tên sách"
        formControlName="title"
    >
    @if (form().get('title')?.invalid && form().get('title')?.touched) {
    <small>Tên sách không được để trống</small>
}

    <input
        type="text"
        placeholder="Tác giả"
        formControlName="author"
    >

    <input
        type="text"
        placeholder="Danh mục"
        formControlName="category"
    >

    <input
        type="number"
        placeholder="Năm xuất bản"
        formControlName="year"
    >
    @if (form().get('year')?.invalid && form().get('year')?.touched) {
    <small>Năm xuất bản không hợp lệ</small>
}

    <input
        type="number"
        placeholder="Số lượng"
        formControlName="quantity"
    >
    @if (form().get('quantity')?.invalid && form().get('quantity')?.touched) {
    <small>Số lượng phải là số nguyên lớn hơn 0</small>
}

    <input
        type="text"
        placeholder="Trạng thái"
        formControlName="status"
    >

    <div class="buttonAddBook">

        <button
            [disabled]="form().invalid"
            (click)="save.emit()"
        >
            Lưu
        </button>

        <button (click)="close.emit()">
            Đóng
        </button>

    </div>

</div>

}