<h1>Mượn/Trả</h1>

<div class="search-section">

    <input
        class="search"
        type="text"
        placeholder="Tìm kiếm tên độc giả"
        [(ngModel)]="searchText"
    >

    <button
        class="add-book"
        (click)="openAddForm()"
    >
        + Phiếu mượn
    </button>

</div>

<br>

<table class="table" border="1">

    <thead>

        <tr>
            <th>Mã phiếu</th>
            <th>CCCD/CMND</th>
            <th>Tên độc giả</th>
            <th>Tên sách</th>
            <th>Số lượng</th>
            <th>Ngày mượn</th>
            <th>Ngày trả</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>

    </thead>

    <tbody>

        <tr *ngFor="let borrow of getFilteredBorrow()">

            <td>P{{ borrow.id.toString().padStart(4,'0') }}</td>

            <td>{{borrow.citizenId}}</td>

            <td>{{borrow.readers}}</td>

            <td>{{borrow.title}}</td>

            <td>{{borrow.quantityBorrow}}</td>

            <td>{{borrow.borrowd}}</td>

            <td>{{borrow.returnd}}</td>

            <td>{{borrow.note}}</td>

            <td>

                <button
                    [disabled]="borrow.note === 'Đang mượn'"
                    (click)="deleteBorrow(borrow)"
                >
                    Xóa
                </button>

                <button
                    (click)="editBorrow(borrow)"
                >
                    Sửa
                </button>

            </td>

        </tr>

    </tbody>

</table>

<div
    class="popup"
    *ngIf="showAddForm"
>

    <h2>

        {{ selectedBorrow ? 'Sửa phiếu mượn' : 'Thêm phiếu mượn' }}

    </h2>

    <input
    type="text"
    placeholder="Tên độc giả"
    [(ngModel)]="newReaders"
    [disabled]="selectedBorrow">

    <input
    type="text"
    placeholder="Số căn cước"
    [(ngModel)]="newCitizenId">

    <input
    type="text"
    placeholder="Tên sách"
    [(ngModel)]="newTitle"
    [disabled]="selectedBorrow">

    <input
    type="number"
    min="1"
    placeholder="Số lượng mượn"
    [(ngModel)]="newQuantityBorrow"
    [disabled]="selectedBorrow">

    <input
        type="date"
        [(ngModel)]="newBorrowd"
    >

    <input
        type="date"
        [(ngModel)]="newReturnd"
    >

    <select
        class="status"
        [(ngModel)]="newNote"
    >

        <option value="Đang mượn">

            Đang mượn

        </option>

        <option value="Đã trả">

            Đã trả

        </option>

    </select>

    <div class="buttonAddBook">

        <button (click)="saveBorrow()">

            Lưu

        </button>

        <button (click)="showAddForm = false">

            Đóng

        </button>

    </div>

</div>