<table class="table" border="1">

  <thead>
    <tr>
      @for (column of columns(); track column.key) {
        <th>{{ column.label }}</th>
      }

      <th>Thao tác</th>
    </tr>
  </thead>

  <tbody>
    @for (item of data(); track $index) {

      <tr>

        @for (column of columns(); track column.key) {
          <td>
  @if (column.type === 'status') {
    <span
      appStatusColor
      [status]="item[column.key]"
    >
      {{ item[column.key] }}
    </span>
  } @else if (column.type === 'money') {
    {{ item[column.key] | money }}
  } @else {
    {{ item[column.key] }}
  }
</td>
        }

        <td>
          <button (click)="edit.emit(item)">
            Sửa
          </button>

          <button (click)="delete.emit(item)">
            Xóa
          </button>
        </td>

      </tr>

    }
  </tbody>

</table>